In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [61]:
accidentsamount=[14,334,312,5823,9491,7486,4343]
age=['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 plus']
incidents=pd.Series(accidentsamount, age)

In [62]:
incidents

6            14
7-14        334
15-17       312
18-24      5823
25-39      9491
40-59      7486
60 plus    4343
dtype: int64

In [63]:
type(incidents)

pandas.core.series.Series

In [66]:
incidents > 1000

6          False
7-14       False
15-17      False
18-24       True
25-39       True
40-59       True
60 plus     True
dtype: bool

In [67]:
incidents.where(incidents > 1000)

6             NaN
7-14          NaN
15-17         NaN
18-24      5823.0
25-39      9491.0
40-59      7486.0
60 plus    4343.0
dtype: float64

In [68]:
incidents.where(incidents > 1000, inplace=True)

In [69]:
incidents.dropna(inplace=True)

In [70]:
incidents

18-24      5823.0
25-39      9491.0
40-59      7486.0
60 plus    4343.0
dtype: float64

In [71]:
incidents1000=incidents

In [72]:
incidents1000

18-24      5823.0
25-39      9491.0
40-59      7486.0
60 plus    4343.0
dtype: float64

In [73]:
accidentsamount=[14,334,312,5823,9491,7486,4343]
age=['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 plus']

incidents=pd.Series(accidentsamount, age)

In [74]:
incidents

6            14
7-14        334
15-17       312
18-24      5823
25-39      9491
40-59      7486
60 plus    4343
dtype: int64

In [75]:
incidents.filter(items=['18-24', '25-39', '40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [76]:
accidentsamount=[14,334,312,5823,9491,7486,4343]
age=['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 plus']

incidents=pd.Series(accidentsamount, age)

In [77]:
incidents

6            14
7-14        334
15-17       312
18-24      5823
25-39      9491
40-59      7486
60 plus    4343
dtype: int64

In [78]:
incidents.where(incidents<=1000).dropna()

6         14.0
7-14     334.0
15-17    312.0
dtype: float64